<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Yesmail Test Suite">
            <directory>tests/Yesmail/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/Yesmail/</directory>
        </whitelist>
    </filter>
</phpunit>
